<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</head>
<body>
        <div id="app">
                <select v-model="selected">
                    <option v-for='option in options' v-bind:value='option.value'>
                        {{option.name}}
                    </option>
                    <option value="abc">dong</option>
                </select>
            <span>{{selected}}</span> 


            <input v-model.number="age" type="number">
            <but-counter></but-counter>
            
        </div>
</body>

<script>
Vue.component('but-counter',{
    data:function(){
        return {
           count: 0
        }
    },
    template: `<div><button v-on:click="count++">You clicked me {{ count }} times.</button>
        <button v-on:click="count++">You clicked me {{ count }} times.</button>
        <button v-on:click="count++">You clicked me {{ count }} times.</button>
        <div>`
})


var vm = new Vue({
  el: '#app',
  data: {
    selected:'A',
    picked:false,
    age:'',
    options:[
        {name:'ling',value:'A'},
        {name:'linEFg',value:'B'},
        {name:'liFDFng',value:'C'},
        

    ]
  }
})



</script>

<style>
   
   
</style>
</html>